.knockingPanel {
  width: 350px;
  min-width: 275px;
  max-width: 400px;
  resize: horizontal;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-right: 1px solid #eaeaea;
  overflow-y: auto;
}

.knockingPanelExpanded {
  width: 350px;
  min-width: 800px;
  max-width: 800px;
  resize: horizontal;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-right: 1px solid #eaeaea;
  overflow-y: auto;
}

.sectionContainer {
  margin-top: 20px;
}

.countyContainer {
  margin-top: 20px;
  display: flex; /* New */
  flex-direction: column; /* New */
  justify-content: space-between; /* New */
  overflow-y: hidden;
}

.modernButton {
  background-color: #007BFF; /* A pleasant blue shade */
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}

.modernButton:hover {
  background-color: #0056b3; /* A darker blue on hover */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.modernButton:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}

.listItem {
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  margin: 0 auto; /* center the list items if the container is wider */
}

/* Hover effect for list items */
.listItem:hover {
  transform: translateY(-2px); /* subtle lift effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* soft shadow for depth */
  background-color: #f7f7f7; /* very light gray for hover background */
}

/* Active state for list items */
.listItem:active {
  transform: translateY(1px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* smaller shadow for depth */
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.paginationItemActive {
  border-color: #007bff !important;
  background-color: #007bff;
  color: white;
}

.paginationItem:hover {
  border-color: #0056b3;
}