.account-settings-modal .ant-modal-footer {
  border-top: none;
  padding: 0px 16px;
  text-align: right;
}

.account-settings-modal .ant-btn {
  border-radius: 6px; /* Rounded corners for buttons */
  padding: 2px 20px; /* Larger padding for a touch-friendly design */
  font-weight: 400; /* Slightly bolder font for button text */
  transition: background-color 0.2s, border-color 0.2s; /* Smooth transitions for hover effects */
}

.space-container {
  width: 100%;
}

.tabs-container .ant-tabs-nav {
  margin-bottom: 1rem;
}

.container {
  padding: 24px; /* Increased padding for more space */
  background-color: #f0f0f0; /* Soft grey background for the container */
  border-radius: 10px;
  max-width: 480px; 
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.submit-button {
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  transition: border-color 0.2s;
}

.input {
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  transition: border-color 0.2s;
  font-size: 16px;
}

.input:focus {
  border-color: #1890ff; /* Highlight color for focus state */
}

.change-password-tab .password-reset-button {
  background-color: #0052cc;
  color: white;
  display: block;
  margin: 20px auto;
  width: fit-content;
  margin-top: 20px;
}

.change-password-tab .password-reset-button:hover {
  background-color: #4a90e2;
  border-color: #4a90e2;
}

.change-password-tab .message {
  font-size: 14px;
  color: #faad14; /* Orange color for warning messages */
  margin-top: 16px;
  text-align: center;
  transition: color 0.2s; /* Smooth transition for color changes */
}

