/* PasswordRequirements.css */
.password-requirements .ant-list-items {
    padding-left: 0; /* Remove padding from list */
  }
  
  .password-requirements .ant-list-item {
    display: flex;
    align-items: center;
    padding-left: 0; /* Align with container padding */
  }
  
  .password-requirements .ant-list-item .anticon {
    margin-right: 8px; /* Space between icon and text */
  }
  