
.type-animation {
    font-size: 24px;
    color: #1890ff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    top: 0;
    transition: width 1.5s linear;
    animation: typing 5s steps(100) infinite, untyping 5s steps(100) infinite 3s;
    position: relative; /* Required for cursor positioning */
}

  .blink {
    animation: blinking 2s step-start infinite;
  }

  @keyframes blinking {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  @keyframes untyping {
    0%, 100% {
      width: 100%;
    }
    50% {
      width: 0;
    }
}

  @keyframes typing {
    0%, 100% {
      width: 0;
    }
    50% {
      width: 100%;
    }
  }
  
  @keyframes untyping {
    0%, 100% {
      width: 100%;
    }
    50% {
      width: 0;
    }
}