.text-container {
  display: inline-block; /* Make the container inline to fit the text width */
  white-space: nowrap; /* Prevent line breaks within the text */
  overflow: hidden; /* Hide overflow to clip the animation */
  width: 100%; /* Set a fixed width for the container */
}

.type-animation {
  font-size: 24px;
  color: #1890ff;
  font-weight: bold;
  text-transform: uppercase;
  position: relative; /* Required for cursor positioning */
  width: 100%; /* Set the same fixed width as the container */
  animation: typing 5s steps(100) infinite;
}

.blink {
  animation: blinking 2s step-start infinite;
}

@keyframes blinking {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    width: 0; /* Start with zero width */
  }
  100% {
    width: 100%; /* End with full width */
  }
}

.carousel-container {
  position: relative;
  height: fit-content;
  width: 50rem;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.carousel-container:hover .carousel-arrow {
  display: block;
}

.carousel-arrow-left {
  left: 10px;
}

.carousel-arrow-right {
  right: 10px;
}

.header-logo {
  object-fit: contain;
}

.layout-min-height {
  min-height: 100vh;
}

.content-style {
  padding: 24px;
  min-height: 280px;
}

.space-direction {
  width: 100%;
}

.flex-container {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: start;
}

.title-margin {
  margin-block-start: 36px;
}

.campaign-image {
  max-width: 100%;
}
