.interactive-mapper-container {
    display: flex;
    height: 600px; /* Adjust the height as needed */
    width: 100%;
}

/* Ensure the MapContainer has a flex property */
.leaflet-container {
    flex: 1;
}
