.site-layout-background {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.header-logo {
  width: auto;
  height: 32px;
}

.header-title {
  font-size: 24px;
  color: #1890ff;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 48px;
}

.site-layout-background a {
  cursor: pointer;
}

.site-layout-background img {
  max-width: 64px;
  height: auto;
}

.site-layout-background .ant-typography {
  margin-left: 5rem;
}

.site-layout-background .custom-menu .ant-menu-item:hover {
  background-color: #1890ff;
}

.site-layout-background .custom-menu .ant-menu-item:hover a {
  color: #fff;
}

.site-layout-background .custom-menu .ant-menu-item-selected {
  background-color: #1890ff;
}

.site-layout-background .custom-menu .ant-menu-item-selected a {
  color: #fff;
}
