.site-layout-background {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;

    .header-title {
        font-size: 24px;
        color: #1890ff;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
    }
  }
  
.header-logo {
    min-width: 72px;
    height: auto; /* Prevent scaling of the logo */
  }

  /* Logo */
  .site-layout-background a {
    cursor: pointer;
  }
  
  /* Logo image */
  .site-layout-background img {
    max-width: 64px;
    height: auto;
  }
  
  /* Header text */
  .site-layout-background .ant-typography {
    margin-left: 5rem;
  }
  
  /* Custom menu items */
  .custom-menu-item {
    flex: 1;
    text-align: center;
  }
  
  /* Add hover styles to the custom menu items */
  .custom-menu-item:hover {
    background-color: #1890ff; /* Highlight color on hover */
  }
  
  /* Adjust the text color on hover if needed */
  .custom-menu-item:hover a {
    color: #fff; /* Text color on hover */
  }