/* auth.css */

.auth-container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"]

.error {
  color: red;
}

button[type="submit"] {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
}

.auth-link {
  text-decoration: none;
  color: blue;
}
