.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.auth-header {
  width: 100%;
  margin: 0 auto; /* Center the header */
  background-color: #fff;
  padding: 10px 20px;
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Align items vertically */
  justify-content: flex-start; /* Start the items from the left */
  text-align: left; /* Align the text to the left */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.auth-container {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-bottom-left-radius: 10px; /* Maintain bottom border-radius */
  border-bottom-right-radius: 10px; /* Maintain bottom border-radius */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative; /* Ensures proper stacking context */
}

.auth-logo {
  width: 80px; /* Adjust the size of your logo */
}

.auth-title {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;  
  flex: 0;
  text-align: center;
  margin: 0 auto; /* This will center the title */
  margin-left: 25%;
}

.auth-form {
  width: 100%; /* Form should take full width of the container */
}

.auth-form-item {
  margin-bottom: 16px; /* Space between form items */
}

.auth-input, /* Styles for all inputs within the form */
.auth-form .ant-input-password {
  width: 100%; /* Full width of the form item */
  border: 1px solid #d9d9d9; /* Border as per design */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Text size */
}

/* Reuse error class for consistency */
.error-text {
  color: #ff4d4f; /* Ant Design's error color for consistency */
}

.auth-requirements-list {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  margin-top: 10px; /* Space above the requirements list */
}

.auth-requirements-list .ant-list-item {
  display: flex;
  align-items: center;
  justify-content: start;
}

.auth-submit-button {
  background-color: #0052cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.auth-submit-button:hover {
  background-color: #003d99;
}

.auth-link { /* Styles for the 'Sign In' link */
  color: #0056b3; /* Link color */
  margin-top: 1rem; /* Space above the link */
  text-decoration: none; /* No underline */
}

.password-input-container {
  position: relative; /* Set relative for absolute positioning of requirements */
}

.password-requirements {
  position: absolute;
  top: 0; /* Adjust if necessary */
  right: -250px; /* Move the box to the right of the password input */
  width: 230px; /* Increase the width of the requirements box */
  padding: 15px; /* Add more padding inside the box */
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .signup-container {
    padding: 10px;
  }
  
  .auth-submit-button {
    padding: 10px;
  }

  /* Adjust title size on smaller screens if necessary */
  .auth-title {
    font-size: 20px;
  }

  .password-requirements {
    right: 100%; /* Move to below the input on small screens */
    top: 100%;
    width: calc(100% - 20px); /* Full width of the container minus padding */
  }
}
